{
  "extends": "airbnb-base/legacy",
  "rules": {
    "no-console": 1,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 1,
    "no-prototype-builtins": 1,
    "no-caller": 1,
    "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1, "outerIIFEBody": 1 }]
  }
}