html {
  box-sizing: border-box;
  font-family: "Helvetica", arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
* {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  z-index: 1;
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
}
header, main, footer {
  width: 100%;
}
.icon {
  max-width: 70%;
  max-height: 70%;
  margin: 4px;
}

#map {
  height: 50%;
  width: 100%;
}